body{
  height:100vh;
  display:flex;
  flex-flow:column wrap;
  justify-content: center;
  align-items: center;
  background-color: lightseagreen;
  overflow:hidden;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title{
  font-weight: bold;
  font-size: 32px;
}

button{
  padding: 15px;
  border-radius: 20px;
  border:none;
  background-color: black;
  cursor: pointer;
  color:white;
}

button.subscribed{
  color:black;
  border:none;
  background-color: rgb(200, 200, 200);
}

.sub-title{
  font-weight: bold;
  font-size: 26px;
  text-align: center;
}

.link{
  text-decoration: none;
  color:#ffff00;
  text-align: center;
  display:block;
}

.notice{
  font-weight:400;
  font-size: 20px;
  text-align: center;
}

.container{
  border:1px solid white;
  padding:100px;
}

form {
  display: flex;
  width:100%;
  gap:2px;
}
form input[type="number"]{
  width:100%;
  outline:none;
  padding:10px;
  border:none;
  border-radius: 5px;
}
form input[type="number"]:focus{
  border:2px solid blue;
}
form input[type="submit"]{
  padding:10px;
  border-radius: 5px;
  outline:none;
  border:none;
  cursor: pointer;
  background-color: green;
}